body {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow: hidden;
    color: white;
}

main {
    position: relative;
}

nav {
    display: grid;
    grid-template: auto / 1fr 3fr 1fr;
    align-items: center;
    color: white;
    background-color: black;
}

nav a {
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
}

nav h1 {
    flex-basis: 85%;
}

#container {
    width: 100vh;
    height: 100vw;
    width: 100dvw;
    height: 100dvh;
    position: fixed;
}

#videoElement {
    width: 100%;
    height: 100%;
    background-color: #000;
}

.bottom-control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    top: 85dvh;
    position: fixed;
    height: 15dvh;
    width: 100dvw;
}

.bottom-control * {
    flex-shrink: 0;
    flex-basis: 33%;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
}

#capture {
    height: 20dvw;
    width: 20dvw;
    border-radius: 500px;
    border-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120px;
    max-height: 120px;
}

#capture:after {
    width: calc(20dvw - 40px);
    height: calc(20dvw - 40px);
    background: lightgray;
    content: "";
    border-radius: 600px;
    max-width: 80px;
    max-height: 80px;
}

h1 {
    text-align: center;
}

.popup {
    position: absolute;
    display: block;
    margin: auto;
    top: 50vh;
    left: 50vw;
    transform: translateY(-50%) translateX(-50%);
    padding: 0 1rem 2rem 1rem;
    border-radius: 16px;
    z-index: 10;
    color: black;
    background-color: white;
}

.popup .form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
}

.hide {
    display: none;
}