body {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow: hidden;
    color: white;
}

main {
    position: relative;
}


#container {
    width: 100vh;
    height: 100vw;
    width: 100dvw;
    height: 100dvh;
    position: fixed;
}

#videoElement {
    width: 100%;
    height: 100%;
    background-color: #000;
}

.bottom-control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    top: 85dvh;
    position: fixed;
    height: 15dvh;
    width: 100dvw;
}

.bottom-control * {
    flex-shrink: 0;
    flex-basis: 33%;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
}

#capture {
    height: 20dvw;
    width: 20dvw;
    border-radius: 500px;
    border-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120px;
    max-height: 120px;
}

#capture:after {
    width: calc(20dvw - 40px);
    height: calc(20dvw - 40px);
    background: lightgray;
    content: "";
    border-radius: 600px;
    max-width: 80px;
    max-height: 80px;
}

h1 {
    text-align: center;
}